:root {
    --custom-blue: #4c5eab;
    --custom-white:#f8f8fc;
    --custom-black: #333333;
  }

body {
    width: 1024px;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color:var(--custom-white);
}

header {
    background-color:var(--custom-blue);
    height: 250px;
    color: var(--custom-white);
}

.profile-pic {

    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 80px;
    margin-right: 4%;
    margin-top: 5.5%;
    float: left;
}

.profile {

    float: left;
    width: 45%;
}

.profile-name {
    margin-top: 15%;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 800;
}

.profile-title {
    margin-top: 5px;
    font-weight: 600;
}

header aside {

    float: left;
    width: 25%;
    margin-top: 4%;
    font-size: 1.1rem;
    font-weight: 400;
}
header aside dt{
    float: left;

}

header aside dd{
    margin-bottom: 12px;

}
main {
    overflow:hidden;
    color: var(--custom-black);

}

main h3 {
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
main h3 span {
    box-sizing: border-box;
    display: inline-block;
    background-color: var(--custom-blue);
    color: var(--custom-white);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 12.5px;
    margin-right: 20px;
    font-size: 1.2rem;
    
}
main .portfolio-box h3 span {
    margin-right: 40px;
}

.main-info {
    box-sizing: border-box;
    padding-left: 80px;
    float: left;
    width: 34%;
    /* background-color: lightgray; */
    padding-top: 12px;
    padding-right: 20px;
    font-size: 1.1rem;
    line-height: 1.7rem;
    background: rgb(248,248,252);
    background: linear-gradient(90deg, rgba(248,248,252,1) 0%, rgba(248,248,252,1) 66%,rgba(220,220,224,0.15) 100%);
}

.portfolio-box {
    box-sizing: border-box;
    float: left;
    width: 66%;
    background-color: var(--custom-white);
    padding-top: 12px;
    padding-left: 15px;
}

.interests-icon {
    box-sizing: border-box;
    display: inline-block;
    background: var(--custom-white);
    border-radius: 50%;
    height: 58px;
    width: 58px;
    border: 8px solid var(--custom-blue);
    font-size: 1.4rem;
    color: var(--custom-blue);
    padding-top: 8px;
    padding-left: 9px;
}
.interests-icon .fa-galactic-republic {
    padding-left:2px;
}
.interests-icon .fa-fist-raised {
    padding-left:4px;
}
.main-profile {}

.main-interests {}



.main-reference {}

.main-awards {}






footer {

    background-color: var(--custom-blue);
    position: relative;
    height: 60px;
    margin-top: -60px;
    color: var(--custom-white);
    padding-top: 10px;
    padding-left: 80px;
}

footer p {
    
}