:root {
    --custom-blue: #4c5eab;
    --custom-white:#f8f8fc;
    --custom-black: #333333;
    --custom-pale: #fcfcfc;
  }

body {
    width: 1024px;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color:var(--custom-white);
}

header {
    background-color:var(--custom-blue);
    height: 250px;
    color: var(--custom-white);
}

.profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 70px;
    margin-right: 3%;
    margin-top: 5.5%;
    float: left;
}

.profile {

    float: left;
    width: 45%;
}

.profile-name {
    margin-top: 18%;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.profile-title {
    margin-top: 2px;
    font-weight: 600;
}

header aside {

    float: left;
    width: 25%;
    margin-top: 4%;
    font-size: 1.1rem;
    font-weight: 400;
}
header aside dt{
    float: left;
}

header aside a{
    font-weight: 400;
    color: var(--custom-white);
    text-decoration: none;
}

header aside dd{
    margin-bottom: 12px;
}
main {
    overflow:hidden;
    color: var(--custom-black);
    padding-bottom: 100px;
}

main h3 {
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
main h3 span {
    box-sizing: border-box;
    display: inline-block;
    background-color: var(--custom-blue);
    color: var(--custom-white);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 12.5px;
    margin-right: 20px;
    font-size: 1.2rem;
    
}
main .portfolio-box h3 span {
    margin-right: 40px;
}

.main-info {
    box-sizing: border-box;
    padding-left: 80px;
    float: left;
    width: 34%;
    padding-top: 12px;
    padding-right: 20px;
    font-size: 1.1rem;
    line-height: 1.7rem;
    background: rgb(248,248,252);
    background: linear-gradient(90deg, rgba(248,248,252,1) 0%, rgba(248,248,252,1) 66%,rgba(220,220,224,0.15) 100%);
}

.portfolio-box {
    box-sizing: border-box;
    float: left;
    width: 66%;
    background-color: var(--custom-white);
    padding-top: 12px;
    padding-left: 15px;
}

.interests-icon {
    box-sizing: border-box;
    display: inline-block;
    background: var(--custom-white);
    border-radius: 50%;
    height: 58px;
    width: 58px;
    border: 7px solid var(--custom-blue);
    font-size: 1.4rem;
    color: var(--custom-blue);
    padding-top: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.interests-wrapping:nth-of-type(2){
    margin-left: 18px;
    margin-right: 18px;
}

.interests-wrapping {
        width: 70px;
        float: left;
        margin-bottom: 40px;
        text-align: center;
        font-weight: 600;
}

.main-awards article {
    font-weight: 600;
    margin-top: 3px;
}

.portfolio-box{
    background-color: var(--custom-pale);
    padding-bottom: 40px;
}

.portfolio-box section {
    padding-left: 65px;
}
.portfolio-box figure {
    float: left;
    margin: 10px;
    box-shadow: 0px 0px 20px 8px rgba(220,220,220,1);
}

.portfolio-box img{
    object-fit: none;
    width: 250px ;
    height: 160px;
}

.portfolio-box figcaption{
    box-sizing: border-box;
    width: 250px;
    height: 100px;
    background-color: var(--custom-pale);
    margin-top: -5px;
    text-align: center;
    padding-top: 15px;
    font-size: 1.2rem;
}

.portfolio-box strong {
    display: block;
    font-weight: 600;
    margin-top:5px;
}
a:hover {
    font-weight: 800;
  }

.reference-list p{
    float:right;
    width: 210px;
}

.reference-list a:hover {
    font-weight: 800;
  }

.reference-list a{
    display: block;
    font-weight: 600;
    color: var(--custom-blue);
    text-decoration: none;
}

  .reference-list li span {
    box-sizing: border-box;
    display: inline-block;
    font-weight: 800;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: white;
    border: 7px solid grey;
    position: relative;
    margin: 2.8em 0;
  }
  .reference-list li::before {
    content: '';
    position: absolute;
    background: grey;
    top: -54px;
    left: 9px;
    width: 1px;
    height: 111px;
  }
  .reference-list {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }
  .reference-list li {
    position: relative;
    list-style-type: none;
    text-align: left;
    clear:both;
  }

  .reference-list li:first-child::before {
    display: none;
  }

footer {

    background-color: var(--custom-blue);
    position: relative;
    height: 60px;
    margin-top: -60px;
    color: var(--custom-white);
    padding-top: 10px;
    padding-left: 80px;
}